h1= title
form(method="post", action="/post/new")
    p
      label(for="post[title]") Cím:
      br/
      input(type="text", name="title")
    p
      label(for="post[text]") Szöveg:
      br/
      textarea.original(name="text")
    p    
      input(type="submit", value="Végrehajt")
